@charset "utf-8";
body{ font-family: 'DINBek' !important;}
a:hover,a:focus,a:active{ text-decoration: none !important}
textarea:focus, input:focus, button:focus,.form-control:focus  {
    outline:  none !important;
    border-color:  #808080 !important;
    box-shadow: none !important;
}
textarea{resize: none;}

h1,h2,h3,h4,h5,h6,p,ul{margin: 0 !important }
h1{font-size: 48px !important; }
h2{ font-size: 30px}
h3{font-size: 24px}
p{font-size: 16px}
.pad0{ padding: 0 !important}
.bg-white{ background-color: #fff; padding: 35px 30px}
header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 40px 0;
    
}
.conn-tran .carousel-caption {
    text-shadow: none !important;
    bottom: -35px !important;
}
.carousel-control{ background:none !important; }
.conn-tran .carousel-inner>.item>img{ width: auto; margin: 0 auto }
.conn-tran .carousel-control:hover, .conn-tran .carousel-control:focus, .conn-tran .carousel-control{ opacity: 1 }
.conn-tran .carousel-control{ top: 80px; }

.conn-tran .carousel-caption{ background-color: #fff; width: 300px; margin: 0 auto }
.conn-tran p{    color: #343434; }
.carousel-caption{ left: 0 !important; right: 0 !important }
.lp header .navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.lp header .navbar {
    min-height: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;
    border-radius: 0 !important;
}
/*ul.nav.navbar-nav.navbar-left li:last-child {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-left: 1px solid #fff;
    padding-left: 20px;
    margin-left: 25px;
    padding-top: 2px;
}*/
ul.nav.navbar-nav.navbar-right li p,  ul.nav.navbar-nav.navbar-right li a {
    color: #fff;
    font-size: 16px; 
    text-transform: uppercase;padding: 0 0 0 2px;
    /*font-family: 'DIN-Medium';*/
}
.conn-hold-box li{ display: inline-block; list-style-type: none; padding: 15px }
.carousel-control.right, .carousel-control.left{ background:none !important; }
.carousel-caption{ text-shadow: none !important ; bottom: 0 !important}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{ width: 100% }
.conn-tran h3{ font-size: 18px }
.bnr-hold {
    position: relative;
}
.bnr-hold img{
   margin: 0 auto; 
}
.bnr-content {
    position: absolute;
    bottom: 0;
    left: -300px;
    right: 0;
    /*max-width: 1170px;*/
    background-color: rgba(225,225,225,0.7);
    margin: 0 auto;
    padding: 60px 0 60px;
    text-align: center;
}
.bnr-content.thnk-txt {
    left: 0;
}
.bnr-content h1 {
    width: 715px;
    margin: 0 auto !important;
    text-align: center;
    line-height: 56px;
    color: #343434 ;
    text-transform: uppercase;
    padding-bottom: 15px;
    letter-spacing: -3px;
}
.bnr-content h3 {
    color: #af8125;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 17px;
    margin-top: 2px;
}

.form {
    position: relative;
    background-color: #343434;
    padding: 40px 20px 35px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: -98px;

}
.form h4 {
    text-align: center;
    padding-bottom: 18px;
    line-height: 3px;
font-family: 'Dosis', sans-serif;
}
input.form-control {
    display: block;
    width: 100%;
     height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: none;
    font-family: 'Dosis', sans-serif;
}
.call-me button.btn.btn-default, .enquire button, .enquire button.btn-default :hover,.enquire button.btn-default :focus{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 0;
    min-height: 50px;
    width: 100%;
    background-color: #ba954a !important;
    color: #fff !important;
    text-transform: uppercase;
}
.enquire button{ width:230px; margin-top: 35px}
.error {
    position: absolute;
    /* top: 0; */
    left: 0;
    bottom: -25px;
    color: red;
}

.inp-hold {
    position: relative;
    width: 288px;
    height: 117px;
    line-height: 1.2em;
    color: #343434;
  
  
}
section.call-me {
    margin-bottom: 35px;
}
.location-cont {
    background-color: #BA954A;
    padding: 81px 30px 60px;
    text-align: center;
    margin: 0 auto;
}
.location-vid {
    background-color: #BA954A;
    padding: 81px 30px 60px;
    text-align: center;
    margin: 0 auto;
    height: 250px;
}

.location-cont figure img {
    text-align: center;
    margin: 0 auto 25px;
}
.location-cont h3 {
    line-height: 23px;
    margin-bottom: 38px !important;
    color: #fff;
    text-transform: uppercase;
}
.location-cont p{ color: #ffebad;}
section.conn-tran {
    text-align: center;
    padding: 80px 0;
}
/*.conn-tran img {
    margin: 0 auto 30px;
}*/
section.conn-tran h2 {
    text-transform: uppercase;
    color: #ba954a;
    line-height: 25px;
    padding-bottom: 60px;
    font-family: 'Dosis', sans-serif;
}
.conn-tran h3{ color: #343434; text-transform: uppercase; padding-bottom: 10px; padding-top: 14px;}
.conn-img {
    background-image: url('../images/map1.jpg');
    height: 447px;
    display: table;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nearby-places td {
    padding-left: 50px;
}
.conn-img h3 {
    padding: 0 120px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;background-color: #000;
    opacity: 0.5;
}
.nearby-places {
    background-color: #ede9e9;
    width: 100%;
    height: 460px;
    color: #343434;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 13px;
    font-family: 'Dosis', sans-serif;
}
.nearby-places td{ padding-left: 50px}
section.hubs {
    margin-bottom: 80px;
}
.kmb-banner{
     background-image: url('../images/kmb-banner.jpg');
     height:518px;
     background-repeat: no-repeat;
      background-size: cover;
}
img.img-responsive.kmb-logo {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
}
.kmb-content{
    background-color: #ede9e9;
    height: 524px; 
    padding:20px;
    text-align: left;
    max-width: 710px;
}
.kmb-content-vid{
    /*background-color: #ede9e9;*/
    background-color: #343434;
    color:#fff;
    height: 250px; 
    padding:20px;
    text-align: left;
    
}
.kmb-content-vid p{
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    line-height: 26px;
    margin-bottom: 35px !important;
}
.vid-color{
    color: #777;
}
#callTop{
  position: absolute;
  width: 360px;
  top: 219px;
  right: 46px;
  z-index: 11;
}

input.form-control1 {
  display: block;
  width: 100%;
  height: 37px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: none;
}

.kmb-content p {
    padding-bottom: 20px;
}
.kmb-content h4 {
    padding-bottom: 40px;
}
section.features {
    padding: 80px 0;
    background-color: #f1e6cf;
    margin-top: 100px;
}

.enquire {
    background-color: #f4f4f4;
    padding: 70px 0;
    text-align: center;
}
section.enquire input {
    margin-bottom: 38px;
    background-color: #f4f4f4;
    border: 1px solid #bfbfbf;
}
section.enquire textarea {
    background-color: #f4f4f4;
    width: 100%;
    padding: 6px 12px;
        height: 226px;
         color: #555;
}
section.enquire input:last-child {
    margin: 0;
}
section.enquire h2 {
    color: #BA954A;
    padding: 0 0 100px;
    text-transform: uppercase;
}
.features ul.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 33.333%;
    margin: 0 auto;
    text-align: center;
}
.features ul.nav-tabs>li>a {
    margin-right: 0;
    line-height: 12px;
    border:none;
    border-radius: 0 0;
    display: inline-block;
    position: relative;
    display: inline-block;
    padding: 20px 65px;
    text-transform: uppercase;
    color: #BA954A;
    font-family: 'Dosis', sans-serif;
}

.features ul.nav>li:hover>a, .features ul.nav>li:active>a, .features ul.nav>li.active>a, .features ul.nav>li:focus>a{
   background-color: #BA954A;
    color: #fff;
    border: none;
    font-family: 'Dosis', sans-serif;
}
.features .tab-content ul.nav>li:hover>a, .features .tab-content ul.nav>li:active>a, .features .tab-content ul.nav>li.active>a, .features .tab-content ul.nav>li:focus>a{ color: #BA954A}
.features ul.nav>li:hover>a:after, .features ul.nav>li:active>a:after, .features ul.nav>li.active>a:after, .features ul.nav>li:focus>a:after {
    content: '';
    display: inline-block;
    border-top: 12px solid #BA954A;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    width: 12px;
    margin: 0 auto;
}
.features .nav-tabs {
    border-bottom: none;
}
.features .tab-content ul.nav-tabs>li>a {
    padding: 15px 20px;
    background-color: transparent;
    color: #000;
    border: none;
}
.features .tab-content ul.nav-tabs>li>a:after{ border: none}
.features .tab-content ul.nav-tabs>li {
    width: 100%;
    text-align: left;
}
.features .tab-content ul.nav-tabs>li>a:after {
    border-left: 6px solid #ba954a;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 15px;
    width: auto;
    bottom: initial;
    right: 0px;
    left: initial;
}
/*.left-tab-content {
    max-height: 555px;
    overflow-y: auto;
}*/
#feature-sub1 figure {
    margin: 0 10px;
}
.tab-content figure figcaption {
    background-color: #202020;
    color: #fff;
    padding: 25px;
}
footer {
    background-color: #eee1e4;
    text-align: center;
    padding: 40px 0;
    color: #4a4a4a;
}
footer img {
    margin: 0 auto 30px;
}
footer p {
    padding-bottom: 10px;
    font-size: 14px;
}
.thankyou .bnr-content h1{ font-size: 45px !important; width: auto}
.thankyou .bnr-content a {
    background-color: #ba954a;
    display: inline-block;
    margin-top: 20px;
    padding: 12px 40px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
        
}
.features ul.nav-tabs.submenu2{ background-color: #202020}
.features ul.nav-tabs.submenu2 li {
    display: inline-block;
    width: auto;
    text-align: center;
    /* background-color: #343434; */
    color: #fff;
}
.features ul.nav-tabs.submenu2 li a{ color: #fff;padding: 15px 25px;}
.features ul.nav-tabs.submenu2 li a:after{ border: none}
.bg-green{background-color: #d1d6a2; padding: 25px 10px}
.features ul.nav-tabs.submenu3{ background-color: #fff}
.features ul.nav-tabs.submenu3 {
    background-color: #fff;
    height: 480px;
    overflow-y: auto;
}
.bg-green img {
    margin: 0 auto;
}
.bg-green .tab-content figure figcaption {
    background-color: transparent;
    color: #4b4b4b;
    padding: 25px 0 0;
    text-align: right;
    text-transform: uppercase;
}
#map {
        width: 100%;
        height: 500px;
      }
      div#locationmap {
          position: relative;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
        position: absolute;
        z-index: 2;
        left: 100px;
      }

      #pac-input:focus {
        border-color: #eee;
      }
      ul#features_tabs {
    max-height: 550px;
    overflow-y: auto;
}

/*responsive*/
@media(min-width:992px) and (max-width:1199px){
    .bnr-content h3{font-size: 22px;
    padding: 0 10px;
    line-height: 26px;}
    .carousel-indicators{ display: none; }
    .bnr-content {
     padding: 50px 0 40px;
   }
    .bnr-content h1 {
    max-width: 450px;
    line-height: 35px;
    font-size: 30px !important;
}
.bnr-content h3, .location-cont h3, .conn-tran h3, .conn-img h3{
    font-size: 22px;
}
ul#features_tabs {
    max-height: 450px;
    overflow-y: auto;
}
.features .tab-content ul.nav-tabs>li>a {
    padding: 15px 15px;
    font-size: 13px;
}
.location-cont {
    padding: 50px;}
.location-cont figure img {
    margin: 0 auto 25px;
}
.location-cont h3 {
    line-height: 30px;
    margin-bottom: 25px !important;
    color: #fff;
}
section.conn-tran, section.features, .enquire{
     padding: 60px 0;
}
section.conn-tran h2, section.enquire h2 {
    font-size: 26px;
    line-height: 20px;
    padding-bottom: 40px;
}
.conn-img h3 {
    padding: 0 100px;}
.nearby-places {
    font-size: 14px;
    line-height: 11px;
}
section.hubs {
    margin-bottom: 60px;
}
.kmb-content {
    padding: 60px 40px;}
img.img-responsive.kmb-logo {
    right: 40px;}
p {
    font-size: 15px;
}
.kmb-content p {
    padding-bottom: 20px;
    line-height: 20px;
    font-size: 15px;
}
section.enquire input {
    margin-bottom: 25px;}
section.enquire textarea {
    height: 200px;
}
.enquire button {
    width: 200px;}
}
@media(min-width:768px){
    .top{display:none !important;
}
}
@media(min-width:768px) and (max-width:991px){
    .carousel-indicators{ display: none; }

    .bnr-content {
    padding: 30px 0 30px;
}
.location-cont p {
     line-height: 17px;
}

.bg-white {

    padding: 35px 10px;
}
ul#features_tabs {
    max-height: 400px;
    overflow-y: auto;
}
.bnr-content h1 {
    width: 400px;
    line-height: 30px;
    padding-bottom: 18px;
    font-size: 24px !important;
}
.bnr-content h3, .location-cont h3, .conn-tran h3, .conn-img h3{
    font-size: 22px;    line-height: 30px;
}
input.form-control,.call-me button.btn.btn-default, .enquire button, .enquire button.btn-default :hover, .enquire button.btn-default :focus{
    height: 45px; min-height: 45px}

section.call-me {
    margin-bottom: 52px;
}
.location-cont {
    padding: 20px;
    height: 295px;
}
.location-cont figure img {
    margin: 0 auto 15px;
}
.location-cont h3 {
    line-height: 30px;
    margin-bottom: 15px !important}
.location-map img {
    margin: 0 auto;
}
.nearby-places, .conn-img{ height: 300px}
.tab-content figure figcaption {
    padding: 15px;
}
.tab-content figure figcaption p{
line-height: 16px;}
p{ font-size: 14px}
section.hubs {
    margin-bottom: 60px;
}
section.conn-tran, section.features, .enquire{
     padding: 60px 0;
}
section.conn-tran h2, section.enquire h2 {
    font-size: 26px;
    line-height: 20px;
    padding-bottom: 40px;
}
section.enquire input, section.enquire input:last-child{
    margin-bottom: 20px;}
section.enquire textarea {
    height: 175px;
}
.features .tab-content ul.nav-tabs>li>a {
    padding: 15px ;
    font-size: 12px;
}
.nearby-places td {
    padding-left: 20px;
    font-size: 14px;
}
.features ul.nav-tabs.submenu3 {
     height: 300px;
     padding: 10px 0;
}
.bg-green .tab-content figure figcaption{ font-size: 12px}
.kmb-banner {
    background-image: url('../images/kmb-banner.jpg');
    height: 410px;
    background-repeat: no-repeat;
    background-size: cover;
}
.kmb-content {
    height: auto;
    padding: 25px 20px 0;}
.kmb-content h4 {
    padding-bottom: 20px;
}
img.img-responsive.kmb-logo {
    right: 20px;
    width: 180px;
}
.kmb-content p {
    padding-bottom: 10px;
}
.conn-img h3 {
    padding: 0 50px;}
}
@media (min-width:1280px) and (max-width:1366px){
    .kmb-banner{
     background-image: url('../images/kmb-banner.jpg');
     height:447px;
     background-repeat: no-repeat;
      background-size: cover;
}}
@media (max-width:767px){
    .top {
    bottom: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 10;
}
    ul#interest_tabs_xs {
    text-align: center;
}
    .features.visible-xs ul.nav-tabs>li {
    float: left;
    width: 33.33%;
}
.form .error {
    color: #fff;
    bottom: 2px;
    left: 0;
    right: 0;
    text-align: center;
}
form {
    padding: 0 10px;
}
.tab-content figure figcaption {
    padding: 12px;
    max-width: 609px;
    margin: 0 auto;
}
.tab-content figure img {
      margin: 0 auto;
}
.features.visible-xs ul.nav-tabs>li>a{
    font-size: 12px;
    padding: 10px 10px;
}
.bnr-content {
    position: static;
    background-color: transparent;
    padding: 20px 0 25px;
    }
.bnr-content h1 {
    width: auto;
    line-height: 30px;
    font-size: 24px !important;
}
.bnr-content h3 {
    font-size: 14px;
 }
 .form input {
    margin-bottom: 10px;
}
.form {
    padding: 25px 15px;
   }
   input.form-control {
    height: 34px;
    font-size: 12px;}
   .call-me button.btn.btn-default, .enquire button, .enquire button.btn-default :hover, .enquire button.btn-default :focus {
    min-height: 34px;
    width: 100px;
    margin: 0 auto;
    display: block;
     font-size: 12px
}
.form h4{ font-size: 14px;padding-bottom: 15px;}
section.call-me {
    margin-bottom: 10px;
}
section.location {
    padding: 15px 15px 0;
}
.location-cont {
    padding: 30px 10px;
}
.location-cont h3 {
    line-height: 20px;
    margin-bottom: 15px !important;
    font-size: 14px;
}
.location-cont figure img {
    margin: 0 auto 15px;
    width: 30px;
}
.location-cont p {
    font-size: 12px;
}
section.conn-tran {
    padding: 30px 0 10px;
}
section.conn-tran h2, section.conn-tran h2{
    line-height: 12px;
    padding-bottom: 25px;
    font-size: 16px;
}
.conn-hold figure {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.conn-hold figure img {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    margin: 0 auto;
}
.conn-hold figure figcaption {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 50%;
}
.conn-tran h3 {
    padding-bottom: 6px;
    font-size: 12px
}
.conn-tran h5{ font-size: 12px}
.conn-img {
    /*background-image: none;*/
    height: auto;
    display: table;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #343434;
    background-position: center;
    width: 100%;
}
.conn-img h3 {
    padding: 20px 55px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
section.hubs {
    margin-bottom: 30px;
    padding: 0 15px;
}
.nearby-places{ height: auto}
.nearby-places td {
    padding-left: 20px;
    font-size: 12px;
    padding-top: 15px;
}
tr.pad-top td {
    padding-top: 20px;
}
tr.pad-btm td {
    padding-bottom: 20px;
}
.bg-white {
    padding: 25px 15px;
}
.features ul.nav>li:hover>a:after, .features ul.nav>li:active>a:after, .features ul.nav>li.active>a:after, .features ul.nav>li:focus>a:after {
    content: '';
    border-top: 6px solid #BA954A;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: -6px;
    width: 6px;
}
section.features {
    padding: 30px 0;
    background-color: #f1e6cf;
}
.features .item h3{
    font-size: 12px;
    text-transform: uppercase;
}
.features .carousel-control.right, .features .carousel-control.left{ background-image: none}
.kmb-banner {
    height: auto;    padding: 20px 0;}

.kmb-content {
    height: auto;
    padding: 30px 25px;
    text-align: left;
    max-width: 710px;
}
.kmb-content h4{ font-size: 14px; padding-bottom: 15px}
.kmb-content p {
    padding-bottom: 10px;
    font-size: 12px
}
img.img-responsive.kmb-logo {
    position: static;
    top: inherit;
    right: initial;
    transform: none;
    margin: 0 auto;
    width: 130px;
}
.enquire {
    padding: 30px 0;}
section.enquire h2 {
    padding: 0 0 20px;
    font-size: 16px;
}
section.enquire input, section.enquire input:last-child {
    margin-bottom: 20px;
}
.error {
    bottom: -17px;
    font-size: 12px;
}
section.enquire textarea {
     height: 100px;
    font-size: 12px;
    margin-bottom: 10px
   
}
.tab-content figure figcaption {
    padding: 12px;
}
.tab-content figure figcaption p {
    font-size: 12px;
}
footer p {
    padding-bottom: 5px;
    font-size: 12px;
}
footer img {
    margin: 0 auto 10px;
    width: 100px;
}
footer {
    padding: 20px 0;}
.features.visible-xs .carousel-control {
    top: 50%;
    bottom: auto;
     transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: auto;
    opacity: 1;
}
.features.visible-xs a.left.carousel-control img {
    transform: rotate(180deg);
}
.features.visible-xs .carousel-control.right{
    right: -15px;
}
.features.visible-xs .carousel-control.left{
    left: -15px;
}
#masterplan_xs .carousel-control.right{
    right: -25px;
}
#masterplan_xs .carousel-control.left{
    left: -25px;
}
header {
    padding: 15px 0;
}
li.logo img {
    width: 200px;
}
header .container-fluid {
    padding: 0;
}
ul.nav.navbar-nav.navbar-left {
    float: left;
}
ul.nav.navbar-nav.navbar-right {
    float: right;
}
}
@media (max-width:767px)
{
.conn-hold-box li{ width: 100% }
.carousel-caption{ position: static !important; padding-top: 0 !important }
.carousel-control{ display: none; }
.conn-tran .carousel-control { display: block; }
.conn-tran .carousel-control {
    top: 25%;
}
.conn-tran .carousel-caption{ padding-top: 20px !important}
.conn-tran .carousel-control img{ height: 40px }
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #BA954A !important;
}
.carousel-indicators li{ border: 1px solid #BA954A !important; }
}
@media screen and (max-width:359px)
{
.conn-hold-box li{ width: 100% }
.features.visible-xs ul.nav-tabs>li {
    float: none;
    margin-bottom: -1px;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}
    .bnr-content {
    position: static;
    background-color: transparent;
    padding: 20px 0 25px;
    }
.bnr-content h1 {
    width: auto;
    line-height: 30px;
    font-size: 24px !important;
}
.bnr-content h3 {
    font-size: 14px;
 }
 .form input {
    margin-bottom: 10px;
}
.form {
    padding: 25px 15px;
   }
   input.form-control {
    height: 34px;
    font-size: 12px;}
   .call-me button.btn.btn-default, .enquire button, .enquire button.btn-default :hover, .enquire button.btn-default :focus {
    min-height: 34px;
    width: 100px;
    margin: 0 auto;
    display: block;
     font-size: 12px
}
.enquiry-button{
    background-color: #BA954A;
    border: none;
    border-radius: 0;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 17px;
}

.img-circle {
    border-radius: 50%;
}


.form h4{ font-size: 14px;padding-bottom: 15px;}
section.call-me {
    margin-bottom: 10px;
}
section.location {
    padding: 15px 15px 0;
}
.location-cont {
    padding: 30px 10px;
}
.location-cont h3 {
    line-height: 20px;
    margin-bottom: 15px !important;
    font-size: 14px;
}
.location-cont figure img {
    margin: 0 auto 15px;
    width: 30px;
}
.vide{
    color: #BA954a;
}
.location-cont p {
    font-size: 12px;
}
section.conn-tran {
    padding: 30px 0 10px;
}
section.conn-tran h2, section.conn-tran h2{
    line-height: 12px;
    padding-bottom: 25px;
    font-size: 16px;
}
.conn-hold figure {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.conn-hold figure img {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    margin: 0 auto;
}
.conn-hold figure figcaption {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 50%;
}
.conn-tran h3 {
    
      color: #343434;
      text-transform: uppercase;
      padding-bottom: 10px;
      padding-top: 20px;
}
}
.conn-tran h5{ font-size: 12px}

.conn-img h3 {
    padding: 15px 55px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
section.hubs {
    margin-bottom: 30px;
    padding: 0 15px;
}
/*.nearby-places{ height: auto}*/
.nearby-places td {
    padding-left: 20px;
    font-size: 16px;
    padding-top: 15px;
}
tr.pad-top td {
    padding-top: 20px;
    font-family: 'Dosis', sans-serif;
}
tr.pad-btm td {
    padding-bottom: 20px;
}
.bg-white {
    padding: 25px 15px;
}
.features ul.nav>li:hover>a:after, .features ul.nav>li:active>a:after, .features ul.nav>li.active>a:after, .features ul.nav>li:focus>a:after {
    content: '';
    border-top: 6px solid #BA954A;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: -6px;
    width: 6px;
}
section.features {
    padding: 30px 0;
    background-color: #f1e6cf;
}
.features .item h3{
    font-size: 12px;
    text-transform: uppercase;
}
.features .carousel-control.right, .features .carousel-control.left{ background-image: none}
.kmb-banner {
    background-image: none;
    height: auto;    padding: 30px 0 0;}

.kmb-content h4{ font-size: 18px; padding-bottom: 14px}
.kmb-content p {
    padding-bottom: 10px;
      font-size: 16px;
}
img.img-responsive.kmb-logo {
    position: static;
    top: inherit;
    right: initial;
    transform: none;
    margin: 0 auto;
    width: 130px;
}
.enquire {
    padding: 30px 0;}
section.enquire h2 {
    padding: 0 0 20px;
    font-size: 16px;
}
section.enquire textarea {
     height: 100px;
    font-size: 12px;
    margin-bottom: 10px
   
}
.tab-content figure figcaption {
    padding: 12px;
}
.tab-content figure figcaption p {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}
footer p {
    padding-bottom: 5px;
    font-size: 12px;
}
footer img {
    margin: 0 auto 10px;
    width: 100px;
}
footer {
    padding: 20px 0;}
header {
    padding: 10px 0;
}
li.logo img {
    width: 170px;
}
header .container-fluid {
    padding: 0;
}
ul.nav.navbar-nav.navbar-left {
    float: left;
}
ul.nav.navbar-nav.navbar-right {
    float: right;
}

.closer-places-holder{
    text-align: center;
}
.closer-places{
    width: 18%;
    display: inline-block;
}
.closer-places img{
    width: 130px;
    margin-bottom: 15px;
}
.closer-places h3{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    margin-bottom: 7px !important;
    padding-bottom: 0 !important;
    font-weight: 500;
}
.closer-places p{
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    color: #cdcdcd;
    text-transform: uppercase;
}
.select-txt{
  padding: 0px;
  width: 100%;
  padding: 2%;
  height: 35px;
  border-radius: 0;
  font:inherit;
  color: #343434;
  -webkit-border-radius: 0;
}

.para-holder {
    max-width: 800px;
    margin: 0 auto;
}
.para-holder p{
    font-family: 'Dosis', sans-serif;   
}
.error{
    color:red;
}

        